:root {
  --main-bg: #f8f9fa;
  --primary-color: #ffffff;
  --primary-shade: #d4d4d4;
  --secondary-color: #362487;
  --accent-color: #565e64;
}

@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regula.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;

}

main {
  margin-top: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-heading {
  text-align: center;
  --g: 10px; 
  --b: 3px;
  --c: var(--secondary-color); 
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 75%) 0, var(--_g2) 0 var(--_p, 25%),
    var(--_g1) var(--_p, 25%) 100%, var(--_g2) 100% var(--_p, 75%);
  background-size: 200% var(--b), var(--b) 200%;
  cursor: pointer;
  filter: grayscale(0%);
  transition: 0.3s;
  color: var(--accent-color);
  transition: ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 40px;
  --_p: 75%;
}

.about-heading:hover {
  --_p: 25%;
  filter: grayscale(50%);
}

.about-heading h2 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
}

.about-heading h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: var(--secondary-color);
  margin: 10px auto 0;
  border-radius: 20px;
}

.about-heading h2::after:hover {
  background: black;
}

p {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.highlight {
  color: #362487; 
  font-weight: bold;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.service-box {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 calc(33% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-box h3 {
  color: #362487;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-box p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .service-box {
    flex: 1 1 100%;
  }
}
 