:root {
    --main-bg: #f8f9fa;
    --primary-color: #ffffff;
    --primary-shade: #d4d4d4;
    --secondary-color: #362487;
    --accent-color: #565e64;
  }
  
  @font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Regula.ttf");
  }
  @font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;


  }


main{
    margin-top: 110px;
}



.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;

}

h3 {
    color: var(--secondary-color) !important;
    margin-top: 20px;
    font-size: 1.7rem !important;
    font-weight: 600 !important;
}

p{
    
    font-size: 1.1rem;
}

/* Highlighted Text */
.highlight {
    color: var(--secondary-color); /* Adjust the highlight color as needed */
}

.r-cogs {
    transform: scaleY(-1);
    opacity: 0.3;
    display: inline-block;
    position: relative;
    
  }
  
  .l-cogs {
    opacity: 0.3;
  }

.modern-heading {
    position: relative; /* For positioning the after pseudo-element */
    font-size: 2.8rem; /* Adjust font size as needed */
    color: #2c3e50; /* Main heading color */
    text-align: center;
    text-transform: uppercase; /* Make it all caps */
    letter-spacing: 1.5px; /* Space between letters */
    margin: 40px 0; /* Margin around the heading */
    font-weight: 700; /* Bold font weight */
    background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/ship-repair.jpg");
  background-position: 50% 60%;
  background-size: cover;
  color: var(--primary-color);
  margin: 0 0 35px 0;
  border-radius: 5px;
  padding: 1.3rem 0;
  transition:  0.3s ease;
}




.modern-heading::after {
    content: '';
    display: block;
    width: 100px; /* Width of the underline */
    height: 5px; /* Height of the underline */
    background: var(--primary-color); /* Underline color */
    margin: 10px auto; /* Center the underline */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.5); /* Shadow for depth */
    transition: width 0.3s ease; /* Animation for hover effect */
}

.modern-heading:hover {
    letter-spacing: 5px;
}

.modern-heading:hover::after {
    width: 150px; /* Change width on hover for effect */
}
/* Services Section Styles */
.services-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.service-item {
    flex: 1 1 30%;
    background-color: #f4f4f4; /* Adjust the background color as needed */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 5px; /* Rounded corners */
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: transform 0.3s; /* Animation */
}

.service-item:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.service-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8) ;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .services-box {
        flex-direction: column;
    }

    .service-item {
        flex: 1 1 100%;
    }


}
