:root {
  --main-bg: #f8f9fa;
  --primary-color: #ffffff;
  --primary-shade: #d4d4d4;
  --secondary-color: #362487;
  --accent-color: #565e64;
}

@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regula.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  padding-top: 70px;
}

.slide {
  margin: 0 auto;
}

.carousel-item {
  height: 90vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-0 {
  background-image: url("../images/food-container.jpg");
}
.img-1 {
  background-image: url("../images/vertical-large-sunset-ship.jpg");
}
.img-2 {
  background-image: url("../images/container-ship.jpg");
}
.img-3 {
  background-image: url("../images/container-ship-2.jpg");
}
.carousel-img {
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.carousel-caption {
  z-index: 2;
  text-align: center;
  text-shadow: 3px 3px 20px #000000, -2px 1px 30px #000000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70vw;
}
.carousel-caption h1 {
  font-size: 60px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 65%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  color: var(--primary-shade);
}

.btn-home-card:focus {
  color: white !important;
}

.carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

main {
  margin: 0 auto;
}

.fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}

main .welcome {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg);
  border-radius: 5px;
  margin-top: 40px;
  padding: 3px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: ease-in-out 0.3s;
  border: 0.5px solid var(--secondary-color);
}

main .welcome:hover {
  background-color: #ffff;
}

main .welcome #welcome-heading {
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
  margin: 25px 0;
  padding: 5px 0;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom: 1px solid var(--secondary-color);
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/vector-ship.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffffd6;
  font-size: 1.3rem;
}

.welcome a {
  color: var(--primary-color);
  text-decoration: none;
}

main .welcome #welcome-brand {
  font-size: 2.5rem;
  letter-spacing: 0px;
  font-weight: 800;
  color: var(--primary-color);
  transition: ease-in-out 0.3s;
}

main .welcome #welcome-heading:hover #welcome-brand {
  letter-spacing: 2px;
}
main .welcome #welcome-bd-bold {
  font-weight: 900;
  letter-spacing: 0px;
  color: var(--primary-color);
}

main .welcome #welcome-p {
  text-align: justify;
  line-height: 1.8;
}

main .service {
  margin-top: 40px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: var(--main-bg);
  border: 0.5px solid var(--secondary-color);
}

main .service:hover .service-heading {
  background-color: white;
}

main .service .service-heading {
  text-align: center;
  --g: 10px;
  --b: 3px;
  --c: var(--secondary-color);
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b), var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: 0.3s;
  color: var(--secondary-color);
  transition: ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main .service .service-heading:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

main .service .service-heading span {
  color: var(--secondary-color);
  font-weight: 800;
  text-transform: uppercase;
}

.service-heading h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: var(--secondary-color);
  margin: 10px auto;
  border-radius: 20px;
}

main .service .card {
  height: 280px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-stretch: condensed;
  font-weight: 800;
  transition: ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

main .service .card:hover {
  border-radius: 10px;
  transform: translateY(-6px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-i {
  transition: ease-in-out 0.3s;
}

main .service .card:hover .card-i {
  transform: scale(1.3);
}

main .service .card span {
  font-size: 2rem;
  margin-bottom: 5px;
}

main .service .c1 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/ship-repair.jpg");
  background-position: center;
  background-size: cover;
}

main .service .c2 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/container-repair.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c3 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/container-ship-3.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c4 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/container-ship-services.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c5 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/container.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c6 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/loaded-ship.jpg");
  background-position: center;
  background-size: cover;
}

.card-btn {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--link-text-color);
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: all 0.3s linear 0s;
}

.card-btn::before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}

.card-btn:hover {
  text-indent: -20px;
}

.card-btn:hover::before {
  opacity: 1;
  text-indent: 0px;
}

.card-btn:focus {
  background-color: #362487bc !important;
}

@media only screen and (max-width: 768px) {
  .carousel-item {
    height: auto;
  }
  .carousel-img {
    background-position: center;
    height: 85vh;
  }
}
@media only screen and (max-width: 480px) {
  .carousel-caption {
    padding-bottom: 3rem !important;
  }

  .carousel-caption h1 {
    font-size: 2.5rem;
  }

  .carousel-caption-p {
    display: none;
  }

  main .service .service-heading {
    --b: 2px;
  }

  @media only screen and (max-width: 480px) {
    #welcome-brand {
      font-size: 1.9rem !important;
    }
  }
}

.bold {
  font-weight: 600;
}
